*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: 50% 50%;
    color: white;
    background-color: rgb(25, 0, 48);
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    background-color: rgb(223, 37, 248);
    opacity: 0.3;
}
.conteiner1 p{
    opacity: 0.8;
    width: 300px;
}
.conteiner2{
    width: 300px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.conteiner2 p{
    margin-top: -20px;
}
.conteiner1{
    width: 300px;
    margin-left: 60px;
    margin-top: 30px;
}

span{
    color: rgb(130, 77, 179);
}


